<div class="card" style="width: 256px;">
  <% if (guild.icon) { %>
    <img class="card-img-top" style="width: 256px;" src="<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=256` %>" alt="<%= guild.name %>">
  <% } else { %>
    <canvas style="background-color: #7289da" class="card-img-top" id="<%= guild.name.split(' ').join('').replace(`'`, ``) %>" width="256px" height="256px"></canvas>
    <script>
      function draw() {
        const ctx = document.getElementById("<%= guild.name.split(' ').join('').replace(`'`, ``) %>").getContext('2d');
        ctx.font = '70px Arial';
        ctx.textAlign = "center";
        ctx.fillStyle = "white";
        ctx.fillText("<%= guild.name.split(' ').map(v => v[0]).join('') %>", 128, 153);
      };
      draw();
    </script>
  <% } %>
  <div class="card mb-3">
    <h3 class="card-header"><center><%= guild.name %></center></h3>
      <ul class="list-group list-group-flush" style="width: 100%">
      <li class="list-group-item d-flex justify-content-between align-items-center" style="width: 100%" data-toggle="tooltip" title="Date Created.">
        <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> <span id="guildCreate"><%= guild.createdTimestamp %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center" style="width: 100%" data-toggle="tooltip" title="Server Owner.">
        <i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i> <%= `${guild.owner.user.tag}` %>
      </li>
        <li class="list-group-item d-flex justify-content-between align-items-center" data-toggle="tooltip" title="Members">
          <i class="fa fa-fw fa-users" aria-hidden="true"></i> <span class="badge badge-primary badge-pill"><%= `${guild.memberCount}` %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center" data-toggle="tooltip" title="Bots">
          <i class="fa fa-fw fa-android" aria-hidden="true"></i> <span class="badge badge-primary badge-pill"><%= `${guild.members.filter(m => m.user.bot).size}` %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center" data-toggle="tooltip" title="Roles">
          <i class="fa fa-fw fa-users" aria-hidden="true"></i><span class="badge badge-primary badge-pill"><%= guild.roles.size %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center" data-toggle="tooltip" title="Text Channels">
              <i class="fa fa-fw fa-hashtag" aria-hidden="true"></i> <span class="badge badge-primary badge-pill"><%= `${guild.channels.filter(c => c.type === 'text').size}`%></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center" data-toggle="tooltip" title="Voice Channels">
              <i class="fa fa-fw fa-microphone" aria-hidden="true"></i> <span class="badge badge-primary badge-pill"><%= `${guild.channels.filter(c => c.type === 'voice').size}`%></span>
          </li>
        </ul>
    <a class="btn btn-danger" data-toggle="modal" data-target="#serverLeaveModal" role="button" data-toggle="tooltip" data-placement="left" title="" data-original-title="Tooltip on left">Leave <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i></a>
  </div>
</div>