  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/" ><img src="<%= bot.user.displayAvatarURL() %>" width="30" height="30" class="d-inline-block rounded-circle" alt="<%= bot.user.username %>"> <span class="align-middle"><%= bot.user.username %></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/commands">Commands</a></li>
        <li class="nav-item"><a class="nav-link<% if(!bot.application.botPublic) { %> disabled<% } %>" href="<% if(bot.application.botPublic) { %>https://discordapp.com/oauth2/authorize?client_id=<%= bot.application.id %>&scope=bot&response_type=code&redirect_uri=<%= encodeURIComponent(bot.config.dashboard.callbackURL) %><% } %>">Add to Server</a></li>
        <li class="nav-item"><a class="nav-link" href="/stats">On <%= bot.guilds.cache.size %>  Servers</a></li>
        <% if(user) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="userDropdown"><img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" width="25" height="25" class="d-inline-block rounded-circle" alt=""> <%= user.username %>#<%= user.discriminator %></a>
            <div class="dropdown-menu">
              <h6 class="dropdown-header" href="#"><i class="fa fa-user" aria-hidden="true"></i> <%= user.username %></h6>
              <a class="dropdown-item" href="/dashboard"><i class="fa fa-cogs" aria-hidden="true"></i> Dashboard</a>
              <% if(bot.owners.includes(user.id)) { %>
                <a class="dropdown-item" href="/admin"><i class="fa fa-key"></i> Admin</a>
              <% } %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
            </div>
          </li>
        <% } else { %>
          <li class="nav-item"><a class="nav-link" href="/login"><i class="fa fa-key" aria-hidden="true"></i> Login</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
  <div class="nav-breadcrumb" style="width: 100%; margin-top: 16px;">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
          <%
            pathArray = path.split("/").slice(1);
            pathArray = pathArray.map(p=> {
              if(bot.guilds.cache.has(p)) return bot.guilds.cache.get(p).name;
              return p.toProperCase();
            });
            let builtPath = "";
            for(let i = 0; i < pathArray.length; i++) {
              builtPath += "/"+path.split("/").slice(1)[i]; %>
          <li class="breadcrumb-item<% if((i+1) === pathArray.length) {%> active"><%= pathArray[i] %><% } else { %>"><a href="<%= builtPath %>"><%= pathArray[i] %></a><% } %></li>
          <% } %>
        </ol>
      </div>
  </div>