<%- include('blocks/header', {bot, user, path}) %>
  <div class="container">
    <h1 class="display-3">Administration</h1>
    <div class="row"> 
      <% bot.guilds.cache.forEach(guild => {
        let href, text;
        let enabled;
        if(bot.guilds.cache.get(guild.id)) {
          href = `/dashboard/${guild.id}/manage`;
          text = "Manage";
          enabled = true;
        } else {
          href = `https://discordapp.com/oauth2/authorize?client_id=${bot.application.id}&scope=bot&guild_id=${guild.id}&response_type=code&redirect_uri=${encodeURIComponent(bot.config.dashboard.callbackURL)}`;
          text = "Invite Bot";
          enabled = bot.application.botPublic;
        }
      %>
        <div class="col-sm-auto">
          <div class="media" style="padding: 10px;">
            <div style="<% if(text != 'Manage') { %>filter: grayscale(100%);<% } %>">
                <%- include('./blocks/guild-icon.ejs', {bot, user, path, guild}) %>
            </div>
            <div class="media-body">
              <h5 class="mt-0 mb-1"><%= guild.name %></h5>
              <a class="btn <% if(text == 'Manage') { %>btn-success<% } else { %>btn-primary<% } %> btn-lg<% if(!enabled) { %> disabled<% } %>" role="button" href="<%= href %>"><%= text %> <i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
<%- include('./blocks/footer') %>