<%- include('blocks/header', {bot:bot, user: user, path: path, auth: auth}) %>
<div class="container">
  <div class="jumbotron">
    <div class="col-sm-11 mx-auto">
      <h1><%= guild.name %></h1>
      <div class="row">
        <div class="col text-nowrap">
          <i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i> <%= `${guild.owner.user.tag}` %>
        </div>
        <div class="col text-nowrap">
          <i class="fa fa-fw fa-users" aria-hidden="true"></i> <%= `${guild.memberCount}` %> Members
          ( <i class="fa fa-fw fa-android" aria-hidden="true"></i> <%= `${guild.members.filter(m => m.user.bot).size}` %> Bots )
        </div>
        <div class="col text-nowrap">
          <i class="fa fa-fw fa-users" aria-hidden="true"></i> <%= `${guild.roles.size} Roles` %>
        </div>
        <div class="col text-nowrap">
          Channels : <i class="fa fa-fw fa-hashtag" aria-hidden="true"></i> <%= `${guild.channels.filter(c => c.type === 'text').size}`%> 
          <i class="fa fa-fw fa-microphone" aria-hidden="true"></i> <%= `${guild.channels.filter(c => c.type === 'voice').size}`%> 
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 mx-auto" style="margin-top: 20px;">
    <p style="text-align:left">
      <a class="btn btn-danger" data-toggle="modal" data-target="#serverLeaveModal" role="button">Leave <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i></a>
      <a class="btn btn-info" data-toggle="modal" data-target="#settingsResetModal" role="button">Reset <i class="fa fa-fw fa-cogs" aria-hidden="true"></i></a>
      <a class="btn btn-info" role="button" href="/dashboard/<%= guild.id %>/members">Members <i class="fa fa-users" aria-hidden="true"></i></a>
    </p>
  </div>
  
<h1>Settings</h1>

<form method="post">
  <% const settings = bot.settings.get(guild.id); %>
  <div class="form-inline">
  <% for (const key in settings) { %>
    <label class="sr-only" for="inlineForm<%= key %>"><%= key %></label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0" style="width: 500px; margin: 10px;">
      <div class="input-group-addon" style="width: 150px; text-align: right;"><%= key %></div>
      <input type="text" class="form-control" style="text-align: left;" id="inlineForm<%= key %>" value="<%= settings[key] %>" placeholder="Enter <%= key %>">
    </div>
  <% } %>
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top: 25px;">Submit</button>
</form>
<!-- Manage Page Modals -->
<div class="modal fade" id="serverLeaveModal" tabindex="-1" role="dialog" aria-labelledby="serverLeaveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="serverLeaveModalLabel">Leave Server?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want <%= bot.user.username %> to leave this server?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <a class="btn btn-outline-danger" href="/dashboard/<%= guild.id %>/leave" role="button">Leave</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Manage Page Modals -->
  <div class="modal fade" id="settingsResetModal" tabindex="-1" role="dialog" aria-labelledby="settingsResetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="settingsResetModalLabel">Reset Settings?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to reset to the default settings?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <a class="btn btn-outline-danger" href="/dashboard/<%= guild.id %>/reset" role="button">Reset</a>
        </div>
      </div>
    </div>
  </div>
<% include ./blocks/footer %>