<%- include('blocks/header', {bot, user, path}) %>
  <div class="container">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-10"><h3>Live Statistics.</h3>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-server" aria-hidden="true"></i> Servers:</div>
          <div class="col-5 text-nowrap"><strong><%= stats.servers %></strong></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> Uptime:</div>
          <div class="col-5 text-nowrap"><strong><%= stats.uptime %></strong></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Members:</div>
          <div class="col-5 text-nowrap"><strong><%= stats.members %></strong></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> Memory:</div>
          <div class="col-5 text-nowrap"><strong><%= stats.memoryUsage %> MB</strong></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-hashtag" aria-hidden="true"></i> Text Channels:</div>
          <div class="col-5 text-nowrap"><strong><%= stats.text %></strong></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-microphone" aria-hidden="true"></i> Voice Channels:</div>
          <div class="col-5 text-nowrap"><strong><%= stats.voice %></strong></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-cogs" aria-hidden="true"></i> Discord.js Version:</div>
          <div class="col-5 text-nowrap"><strong><%= stats.dVersion %></strong></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-5 text-nowrap"><i class="fa fa-fw fa-cog" aria-hidden="true"></i> Node.js Version:</div>
          <div class="col-5 text-nowrap"><strong><%= stats.nVersion %></strong></div>
        </div>
    </div>
    <% include ./blocks/footer %>